@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body,
:root {
  height: 100vh;
  max-height: 100vh;
  background-color: black;
  /* overflow: hidden; */
}

@font-face {
  font-family: "developer";
  src: url("./fonts/quicksand.otf");
}
